[submodule ".vim/pack/alex/start/ag.vim"]
	path = .vim/pack/alex/start/ag.vim
	url = https://github.com/epmatsw/ag.vim.git
[submodule ".vim/pack/alex/start/base16-vim"]
	path = .vim/pack/alex/start/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule ".vim/pack/alex/start/bash-support.vim"]
	path = .vim/pack/alex/start/bash-support.vim
	url = https://github.com/vim-scripts/bash-support.vim.git
[submodule ".vim/pack/alex/start/ctrlp.vim"]
	path = .vim/pack/alex/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/alex/start/dash.vim"]
	path = .vim/pack/alex/start/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule ".vim/pack/alex/start/ember.vim"]
	path = .vim/pack/alex/start/ember.vim
	url = https://github.com/dsawardekar/ember.vim.git
[submodule ".vim/pack/alex/start/funcoo.vim"]
	path = .vim/pack/alex/start/funcoo.vim
	url = https://github.com/rizzatti/funcoo.vim.git
[submodule ".vim/pack/alex/start/gist-vim"]
	path = .vim/pack/alex/start/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule ".vim/pack/alex/start/html5-syntax.vim"]
	path = .vim/pack/alex/start/html5-syntax.vim
	url = https://github.com/othree/html5-syntax.vim.git
[submodule ".vim/pack/alex/start/limelight.vim"]
	path = .vim/pack/alex/start/limelight.vim
	url = https://github.com/junegunn/limelight.vim
[submodule ".vim/pack/alex/start/nerdtree"]
	path = .vim/pack/alex/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/alex/start/puppet-syntax-vim"]
	path = .vim/pack/alex/start/puppet-syntax-vim
	url = https://github.com/puppetlabs/puppet-syntax-vim.git
[submodule ".vim/pack/alex/start/tabular"]
	path = .vim/pack/alex/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/pack/alex/start/unite.vim"]
	path = .vim/pack/alex/start/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule ".vim/pack/alex/start/vim-abolish"]
	path = .vim/pack/alex/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule ".vim/pack/alex/start/vim-commentary"]
	path = .vim/pack/alex/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/alex/start/vim-endwise"]
	path = .vim/pack/alex/start/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule ".vim/pack/alex/start/vim-fugitive"]
	path = .vim/pack/alex/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/alex/start/vim-go"]
	path = .vim/pack/alex/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/pack/alex/start/vim-javascript-syntax"]
	path = .vim/pack/alex/start/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule ".vim/pack/alex/start/vim-markdown"]
	path = .vim/pack/alex/start/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/pack/alex/start/vim-puppet"]
	path = .vim/pack/alex/start/vim-puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule ".vim/pack/alex/start/vim-rails"]
	path = .vim/pack/alex/start/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/pack/alex/start/vim-rbenv"]
	path = .vim/pack/alex/start/vim-rbenv
	url = https://github.com/tpope/vim-rbenv.git
[submodule ".vim/pack/alex/start/vim-repeat"]
	path = .vim/pack/alex/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/pack/alex/start/vim-ruby"]
	path = .vim/pack/alex/start/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/pack/alex/start/vim-surround"]
	path = .vim/pack/alex/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/alex/start/xterm-color-table.vim"]
	path = .vim/pack/alex/start/xterm-color-table.vim
	url = https://github.com/chrishunt/xterm-color-table.vim.git
[submodule ".vim/pack/alex/start/ale"]
	path = .vim/pack/alex/start/ale
	url = https://github.com/w0rp/ale.git
[submodule ".vim/pack/alex/start/dracula-theme"]
	path = .vim/pack/alex/start/dracula-theme
	url = git@github.com:dracula/vim.git
